html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

/*ГЛАВНАЯ*/

/*Верхняя синяя линия*/

.page-header {
  font-size: 17px;
  font-family: 'Cuprum';
}

.top-menu {
  color: #FFFFFF;
}

.logo {
  font-size: 24px;
  line-height: 42px;
  width: 220px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  background: #EE3643;
}
.menu-bookmarks-header {
  background: url('../img/icon-bookmark.svg') no-repeat -65px -14px;
  opacity: 0.3;
}

.menu-bookmarks-header a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px 12px 43px;
  line-height: 42px;
}

.menu-cart-header {
  background: url('../img/icon-cart.svg') no-repeat -10px -15px;
  opacity: 0.3;
}

.menu-cart-header a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px 12px 43px;
  line-height: 42px;
}

.top-order-button {
  color: #FFFFFF;
  background: #63A63E;
  text-decoration: none;
  line-height: 39px;
  padding: 13px 22px;
}

/*Текст, контакты, логин*/

.pre-nav-box {
  background-color: #f4f7f9;
}

.info-company {
  margin: 0 20px 0 40px;
  width: 200px;
  color: #EE4F5B;
  font-style: italic;
  font-size: 16px;
}

.phone-number {
  border: 3px solid #FFFFFF;
  padding: 8px 15px 8px 34px;
  margin: 0 0 10px 0;
  color: #e9292a;
  font-size: 21px;
  display: inline-block;
}

address {
  color: #32425C;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
}

.log-in,
.registration {
  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  background: #FFFFFF;
  display: inline-block;
}

.log-in {
  margin-right: 10px;
  padding: 12px 26px 12px 46px;
}

/*Навигация страницы (Синяя полоска перед главным содержимым)*/

.menu-top {
  background: #32425c;
  border-bottom: 5px solid #293449;
}

.navigation-list {
  text-align: center;
}

.navigation-list li {
  display: inline-block;
}

.navigation-list a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  padding: 19px 33px;
}

/*Основное содержимое страницы*/

/*Блоки*/

.new {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 200px;
  font-size: 16px;
  line-height: 28px;
}

.block,
.block-button {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 12px;
}

.material-pic {
  background: #F6B22D url("../img/icon-1.svg") no-repeat 0 0;
  position: relative;
}

.instruments-pic {
  background: #4AAFDE url("../img/icon-2.svg") no-repeat 0 0;
}

.tech-pic {
  background: #CC79D1 url("../img/icon-3.svg") no-repeat 0 0;
}


.discount-pic {
  background: #85D179 url("../img/icon-4.svg") no-repeat 0 0;
  float: right;
}

.delivery-pic {
  background: #F6B22D url("../img/icon-5.svg") no-repeat 0 0;
  float: right;
}

/*Слайдер*/

.button {
  display: block;
  font-family: 'Cuprum';
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  padding: 10px 0;
}

.open-catalog {
  display: inline-block;
  padding: 10px 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/*Популярные товары линейка*/

.popular-items {
  background: #F7F3EC;
  margin-bottom: 20px;
 }

.catalog {
  margin-bottom: 40px;
  font-family: 'Open Sans';
  text-align: center;
}

.all-popular {
}

/*Каталог популярных товаров*/

.bosch {
  padding: 0 25px;
  margin: 10px 0;
  display: block;
  color: black;
  text-decoration: none;
  line-height: 1.11;
}

.old-price {
  color: #999;
  line-height: 1.06;
  font-weight: bold;
}

.price {
  display: block;
  position: absolute;
  left: 45px;
  bottom: 20px;
  width: 80px;
  margin: 0 auto;
  padding: 10px 30px;
  color: white;
  background: #EE3643;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.06;
}

/*Популярные производители*/
.brand {
  width: 220px;
  height: 145px;
  display: inline-block;
  margin: 0 16px 16px 0;
  border: 1px solid #ccc;
}

/*Сервисы*/

.service-text {
  font-weight: 300;
  line-height: 1.846;
  margin: 0;
}

.services {
  background: #F1F5F7;
  margin-bottom: 70px;
}

.services h1 {
  color: #000000;
  font-family: 'Cuprum';
  font-size: 30px;
  font-weight: 400;
  line-height: 0.8;
  padding-top: 60px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

/*Доставка*/

.service-delivery {
  width: 200px;
  padding: 20px;
  background: #32425C;
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  border-bottom: 0.1px solid black;
  display: block;
  text-decoration: none;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

/*О компании и карта*/

.about-company-down {
  margin: 0 0 35px 0;
  font-family: 'Cuprum';
  font-size: 30px;
  font-weight: 400;
  line-height: 0.8;
}

.delivery-list {

}

.delivery-list li {
  color: #000000;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-family: 'Cuprum';
}

.about-company-button {
  width: 220px;
  margin: 10px 0 0;
  padding: 10px 40px;
}

.contacts p {
  margin-bottom: 30px;
}
.contacts img {
  margin-bottom: 37px;
}
.button-map {
  margin: 0;
  padding: 0;
}

/*Футер*/

.address-footer {
  display: inline-block;
}

.page-footer-top {
  background: #32425C;
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 1.333;
  padding-bottom: 50px;
}

.navigation-footer {
  text-decoration: none;
  color: #f1f5f7;
  padding: 10px;
}

.navigation-footer-gold a {
  color: #FFD180;
  text-decoration: none;
  padding: 10px;
}
.footer-low {
  background: #293449;
  color: #FFFFFF;
  font-family: 'Cuprum';
  font-size: 16px;
  line-height: 1.125;
}
.social-button {
    width: 43px;
    height: 43px;
    color: #000000;
    background-color: #29384a;
    border-radius: 50%;
}

/*HTMLcademy*/

.mail-htmlacademy,
.htmlacademy {
   color: #ffda96;
   text-decoration: none;
  }

/*КАТАЛОГ*/

.breadcrumbs {
  padding: 0;
  margin: 20px 20px 20px 30px;
  position: relative;
}

.breadcrumbs li {
  list-style: none;
  display: inline-block;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.catalog-name {
  background: #f2f6f8;
  font-family: 'Cuprum';
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px;
  margin: 0 0 20px;
}

.left-side {
  float: left;
  width: 220px;
  position: relative;
  margin: 0 0 60px;
}

.side-filter {
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background: #f7f3ec;
  padding: 16px 16px;
  margin: 0 0 12px;
}

.left-side legend {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.877;
  text-transform: uppercase;
  margin: 0;
  display: block;
  padding: 0 0 10px;
}

.price-control {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #f7f3ec;
  border-radius: 5px;
}

.brand-filter {
  padding: 0 0 40px;
  position: relative;
}

.charge-type {
  padding: 0 0 40px;
  position: relative;
}

.right-side {
  float: right;
  width: 700px;
  margin: 0 0 60px;
}

.sort-control {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}

.sort-controls a {
  display: inline-block;
  margin: 0 30px;
}

.option {
  padding: 10px 5px 3px;
  color: #bcbcbc;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sort-down,
.sort-up {
  padding: 10px;
  margin: 0 5px 0 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  opacity: 0.5;
}
.sort-down {
  background: url('..img/icon-down-dir.svg') no-repeat 10px 97%;
}

.sort-up {
  background: url('../img/icon-up-dir.svg') no-repeat 10px -33px;
  margin: 0;
}

.catalog-item {
  width: 220px;
  min-height: 250px;
  position: relative;
  display: inline-block;
  margin: 0 16px 16px 0;
  padding-bottom: 70px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  vertical-align: top;
}

/*Новый товар купить*/
.buy,
.in-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  }

..catalog-paginator {
  margin: 0;
  padding: 10px 0;
}

.catalog-paginator ul {
  margin: 0;
  padding: 0;
}

.catalog-paginator ul li {
  min-width: 20px;
  display: inline-block;
  text-align: center;
  padding-left: 5px;
}

.page-button {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-transform: uppercase;
  border-radius: 5%;
}

.about-drill {
  background: #f2f6f8;
}

.about-drill h2 {
  font-family: 'Cuprum';
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 20px;
}

.about-drill p {
  font-family: 'OpenSans', sans-serif;
  color: #000000;
  line-height: 24px;
  margin: 0;
}
