body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div {
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

:before,
:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	overflow: hidden;
	height: 0px;
	width: 0px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main {
	display: block;
	margin-bottom: 81px;
	margin: 0;
}

.block {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.block {
	margin-right: -43px;
}

.block:last-of-type {
	margin-right: 0;
}

.block2 {
	-webkit-box-flex: 6.7;
	-ms-flex-positive: 6.7;
	flex-grow: 6.7;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.block3 {
	-webkit-box-flex: 3.3;
	-ms-flex-positive: 3.3;
	flex-grow: 3.3;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.block4 {
	-webkit-box-flex: 4.15;
	-ms-flex-positive: 4.15;
	flex-grow: 4.15;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.block5 {
	-webkit-box-flex: 5.85;
	-ms-flex-positive: 5.85;
	flex-grow: 5.85;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.block6 {
	-webkit-box-flex: 2.55;
	-ms-flex-positive: 2.55;
	flex-grow: 2.55;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.block7 {
	-webkit-box-flex: 2.4;
	-ms-flex-positive: 2.4;
	flex-grow: 2.4;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.block8 {
	-webkit-box-flex: 7.6;
	-ms-flex-positive: 7.6;
	flex-grow: 7.6;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}


/*HEADER*/

.menu-header {
	margin-bottom: 59px;
}

.menu-header {
	padding-bottom: 63px;
	background-color: #f4f7f9;
}

.menu-header-wrapper {
	background-color: #293449;
	height: 42px;
}

.menu-header-wrapper a {
	display: block;
}

.menu-header-wrapper .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
}

.logo-header {
	position: relative;
	display: block;
	padding: 14px 54px 8px;
	font-size: 24px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
	cursor: pointer;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
	height: 20px;
}

.logo-header::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #c23f42;
}

.logo-header:hover,
.logo-header:focus {
	background-color: #ca2c37;
}

.logo-header:active {
	background: #ba2732;
}

.header-search-form {
	position: relative;
	width: 270px;
	margin: 0;
	padding: 0;
	/* padding-left: 50px; */
	/* color: #ffffff; */
}


/* .header-search-form::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 17px;
    width: 17px;
    height: 17px;
    margin-top: 2px;
    background-image: url("../img/svg/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    transition: 200ms all;
}
.header-search-form:hover::after,
.header-search-form:focus::after {
    opacity: 1;
} */

.header-search-form input {
	width: 100%;
	min-height: 42px;
	padding-left: 50px;
	color: inherit;
	background: #293449;
	border: none;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

input {
	margin: -2px;
}

.header-search-form input:focus {
	color: #000000;
	background-color: #ffffff;
	outline: none;
}

.header-search-form input::-webkit-input-placeholder {
	color: #ffffff;
}

.header-search-form input:-ms-input-placeholder {
	color: #ffffff;
}

.header-search-form input::-ms-input-placeholder {
	color: #ffffff;
}

.header-search-form input::placeholder {
	color: #ffffff;
}

.header-search-form svg {
	position: absolute;
	top: 50%;
	left: 17px;
	margin-top: -7px;
}

.header-search-form path {
	opacity: 0.3;
	fill: #ffffff;
}

.header-search-form input:focus+svg>path {
	opacity: 1;
	fill: #ee3643;
}

.bookmarks,
.bookmarks-catalog,
.cart,
.order,
.cart-catalog {
	display: block;
	padding-top: 12px;
	color: #ffffff;
}

.cart-catalog::before {
	content: "";
	position: absolute;
	top: 53%;
	left: 12px;
	width: 15px;
	height: 15px;
	margin-top: -10px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.cart {
	margin-right: -6px;
	margin-left: 21px;
	padding-left: 12px;
	position: relative;
	width: 150px;
	left: 12px;
}

.bookmarks,
.bookmarks-catalog {
	position: relative;
	width: 150px;
	padding-left: 96px;
}

.bookmarks::before {
	content: "";
	position: absolute;
	top: 54%;
	left: 69px;
	width: 14px;
	height: 16px;
	margin-top: -10px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.bookmarks-catalog::before {
	content: "";
	position: absolute;
	top: 54%;
	left: 69px;
	width: 14px;
	height: 16px;
	margin-top: -10px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.bookmarks-catalog {
	left: 8px;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
	opacity: 1;
}

.bookmarks-catalog:hover::before,
.bookmarks-catalog:focus::before {
	opacity: 1;
}

.bookmarks:active::before {
	opacity: 0.6;
}

.bookmarks-catalog:active::before {
	opacity: 0.6;
}

.cart-catalog {
	position: relative;
	width: 140px;
	padding-left: 40px;
	background-color: #ee3643;
	height: 30px;
}

.cart:active {
	opacity: 0.6;
}

.cart-catalog:active {
	opacity: 0.6;
}

.cart::before {
	content: "";
	position: absolute;
	top: 53%;
	left: -16px;
	width: 15px;
	height: 15px;
	margin-top: -10px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.cart:hover::before,
.cart:focus::before {
	opacity: 1;
}

.order {
	width: 150px;
	padding-left: 17px;
	padding-top: 12px;
	background-color: #63a63e;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
	line-height: 1.06;
	margin-left: 0px;
	margin-right: -4px;
	height: 30px;
	padding-right: 15px;
}

.order:hover,
.order:focus {
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
}

.header-info {
	padding-top: 47px;
	padding-bottom: 24px;
}

.about-header {
	margin: 0;
	padding: 0;
	padding-top: 1px;
	padding-left: 52px;
	font-size: 16px;
	line-height: 23px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ff5357;
	font-style: italic;
}

.about-text {
	white-space: pre;
	position: relative;
	width: 196px;
	height: 60px;
	left: -81px;
	bottom: 23px;
}

.contacts-header {
	padding-left: 42px;
	padding-right: 11px;
	width: 270px;
}

.phone-header {
	/*  width: 270px;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 70px;
    border: 3px solid #ffffff;
}
*/
	position: relative;
	margin-bottom: 5px;
	border: 3px solid #ffffff;
	padding-top: 1px;
	padding-bottom: 2px;
	height: 36px;
	text-align: right;
	margin-top: 0px;
}

.phone-header a {
	font-size: 21px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #fb463c;
	position: relative;
	bottom: 10px;
	left: -43px;
}

.contacts-header a::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 57px;
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	position: relative;
}

.address-header {
	margin-top: 4px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 24px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #3d546e;
}

.user-blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-bottom: 6px;
	padding-left: 25px;
	list-style: none;
	margin-left: 63px;
	margin-right: -13px;
	width: 305px;
}

.user-blocks-catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-bottom: 6px;
	padding-left: 25px;
	list-style: none;
	margin-left: 70px;
	margin-right: -8px;
	width: 305px;
}

.user-blocks li {
	margin-right: 10px;
}

.user-blocks-catalog li {
	margin-right: 20px;
}

.user-blocks li:last-child {
	margin-right: 15px;
}

.user-blocks-catalog li:last-child {
	margin-right: 15px;
}

.login,
.registration,
.logged {
	display: block;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 21px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #000000;
	background-color: #ffffff;
}

.login:hover,
.registration:hover,
.login:focus,
.registration:focus {
	color: #ee3643;
}

.login:hover::after,
.login:focus::after {
	background-image: url("../img/icon-login-foc.svg");
}

.log-name {
	padding-left: 36px;
}

.login::after {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.login {
	position: relative;
	width: 75px;
	padding-left: 47px;
	margin-left: 14px;
}

.registration {
	width: 136x;
	padding-left: 23px;
	width: 128px;
}

.navigation-header {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0 20px;
	list-style: none;
	background-color: #293449;
	height: 60px;
}

.navigation-header a {
	display: block;
	padding-top: 22px;
	padding-right: 30px;
	padding-bottom: 18px;
	padding-left: 30px;
	font-size: 17px;
	line-height: 17px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.navigation-header::after {
	content: "";
	position: absolute;
	bottom: -5px;
	height: 5px;
	left: 0px;
	width: 100%;
	background-color: #33445a;
}

.navigation-header a:hover,
.navigation-header a:focus {
	background-color: #33445a;
}

.navigation-header a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
	border-bottom-color: #1d2739;
}

.catalog-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-menu li {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.catalog-menu p {
	margin: 0;
	margin-top: 21px;
	margin-bottom: 12px;
	margin-left: 23px;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
}

.catalog-menu .materials {
	margin-left: 0;
	background-color: #ffbf47;
	margin-right: 20px;
}

.new {
	position: absolute;
	top: 7px;
	right: -80px;
	width: 200px;
	font-size: 16px;
	line-height: 28px;
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	text-align: center;
	color: #f0f0f0;
	text-transform: lowercase;
	letter-spacing: 1px;
	background: #ff5357;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.price-button {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	padding: 11px 22px 9px 22px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	color: #ffffff;
	background-color: #ee3643;
}

.price-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: -12px;
	z-index: 1;
	width: 30px;
	height: 38px;
	background-color: inherit;
	border-radius: 5px;
}

.price-button::after {
	content: "";
	position: absolute;
	top: 0;
	right: -19px;
	z-index: 1;
	width: 37px;
	height: 37px;
	background-color: inherit;
	border-radius: 50px 0 0 0;
	-webkit-transform: rotate(-45deg) scale(0.70);
	-ms-transform: rotate(-45deg) scale(0.70);
	transform: rotate(-45deg) scale(0.70);
}

.price-button a {
	text-decoration: none;
}

.catalog-menu-btn {
	display: block;
	width: 110px;
	margin-bottom: 22px;
	margin-left: 25px;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
	border-radius: 5px;
}

.catalog-menu-btn:hover,
.catalog-menu-btn:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.catalog-menu-btn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.catalog-menu .device {
	background-color: #3bbce3;
	margin-right: 20px;
}

.catalog-menu .technics {
	background-color: #dc91d8;
	margin-right: 0px;
}

.catalog-menu .discount {
	background-color: #8ed78f;
	margin-right: 0px;
	margin-left: 10px;
}

.catalog-menu .delivery {
	background-color: #ffc047;
	margin-right: 0px;
	margin-left: 10px;
}

.catalog-menu .discount::before {
	content: "";
	position: absolute;
	top: 27px;
	right: 45px;
	width: 59px;
	height: 72px;
	background-image: url("../img/icon-4.svg");
}

.catalog-menu .technics::before {
	content: "";
	position: absolute;
	top: 31px;
	right: 31px;
	width: 78px;
	height: 62px;
	background-image: url("../img/icon-3.svg");
}

.catalog-menu .device::before {
	content: "";
	position: absolute;
	top: 33px;
	right: 28px;
	width: 75px;
	height: 61px;
	background-image: url("../img/icon-2.svg");
}

.catalog-menu .materials::before {
	content: "";
	position: absolute;
	top: 31px;
	right: 43px;
	width: 44px;
	height: 65px;
	background-image: url("../img/icon-1.svg");
}

.catalog-menu .delivery::before {
	content: "";
	position: absolute;
	top: 33px;
	right: 31px;
	width: 78px;
	height: 63px;
	background-image: url("../img/icon-5.svg");
}


/*СЛАЙДЕР*/

.slider {
	position: relative;
	display: block;
	min-height: 266px;
	width: 620px;
}

.slider input[type=radio] {
	display: none;
}

.slider2 div {
	width: 620px;
	height: 266px;
}

.slider2 {
	display: flex;
}

.slider-controls {
	position: absolute;
	top: 215px;
	left: 291px;
	z-index: 1;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 3px;
	background-color: #ffffff;
	border: 4px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.slider-control-btn {
	position: absolute;
	top: 50%;
	z-index: 1;
	margin-top: -20px;
}

.slider-prev-btn {
	left: 25px;
	width: 22px;
	height: 40px;
	background-color: transparent;
	background-image: url("../img/icon-left.svg");
	border: none;
	cursor: pointer;
}

.slider-next-btn {
	right: 25px;
	width: 22px;
	height: 40px;
	background-color: transparent;
	background-image: url("../img/icon-right.svg");
	border: none;
	cursor: pointer;
}

.slider-inner {
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 11px 50px;
	font: inherit;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	background: #ee3643;
	border: none;
	border-radius: 2px;
	-webkit-transition: 150ms all;
	-o-transition: 150ms all;
	transition: 150ms all;
	border-radius: 5px;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.catalog-box .slide {
	position: relative;
}

.catalog-box .slide-title {
	font-weight: bold;
	font-size: 36px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

.catalog-box .slide-description {
	font-size: 17px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
}

.catalog-box .slider-button {
	margin-left: 16px;
	margin-top: 97px;
}

.slider2 {
	width: 300%;
	-webkit-transition: -webkit-transform 0.8s ease;
	transition: -webkit-transform 0.8s ease;
	-o-transition: transform 0.8s ease;
	transition: transform 0.8s ease;
	transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

#slider-btn-1:checked~.slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked~.slider-controls label[for="slider-btn-2"] {
	background-color: #ff5357;
}

#slider-btn-1:checked~.slider-inner .slider2 {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}

#slider-btn-2:checked~.slider-inner .slider2 {
	-webkit-transform: translate(-620px);
	-ms-transform: translate(-620px);
	transform: translate(-620px);
}

.slide-first {
	background-image: url("../img/slider-image.jpg");
}

.slide-second {
	background-image: url("../img/slide-image2.jpg");
}

.slide-title {
	padding-left: 16px;
	margin-top: 21px;
	margin-bottom: 17px;
}

.slide-description {
	padding-left: 16px;
	margin-top: 21px;
	margin-bottom: 17px;
}


/*Популярные товары*/

.popular-products {
	margin-bottom: 20px;
}

.popular-title-range-items {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 24px 28px;
	background-color: #f9f5f0;
	margin-top: 33px;
}

.popular-title-range-dev .button {
	width: 150px;
}

.popular-title-range-items .button {
	width: 150px;
}

.popular-title-range-dev {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 14px 26px;
	background-color: #f9f5f0;
	margin-top: 18px;
}

.popular-section-title {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #3d546e;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
}

.catalog-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item:hover,
.catalog-item:focus {
	-webkit-box-shadow: 0 10px 30px -10px #000000;
	box-shadow: 0 10px 30px -10px #000000;
}

.catalog-items li {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	width: 217px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
}

.catalog-items li:nth-child(4n) {
	margin-right: 0;
}

.catalog-item img {
	margin-bottom: 33px;
}

.catalog-item {
	width: 220px;
	text-align: center;
	border: 1px solid #eaeaea;
}

.catalog-item h3 {
	margin: 0;
	margin-bottom: 12px;
	padding: 0 15px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.11;
	font-family: "PT Sans", "Tahoma", sans-serif;
	color: #000000;
	font-style: normal;
	letter-spacing: normal;
	margin-top: -23px;
}

.catalog-item .discount {
	display: block;
	margin-bottom: 11px;
	font-size: 16px;
	line-height: 18px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	color: #a9a9a9;
	text-decoration: line-through;
}

.catalog-item:hover>img {
	display: none;
}

.catalog-item:hover>.actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-item .actions {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 44px;
}

.catalog-item .actions a {
	position: relative;
	display: block;
	width: 135px;
	padding-top: 6px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
}

.catalog-item .actions .buy {
	margin-bottom: 9px;
	padding-bottom: 4px;
	color: #ffffff;
	background-color: #63a63e;
	border-bottom: 3px solid #367315;
}

.catalog-item .actions .buy::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top: 11px;
	left: 12px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.catalog-item .actions .buy:hover::before {
	opacity: 1;
}

.catalog-item .actions .bookmark {
	margin-bottom: 50px;
	padding-bottom: 4px;
	color: #33445a;
	border: 3px solid #63a63e;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
	background-color: #5fbb2d;
}

.catalog-item .actions .buy:active {
	background-color: #518534;
}

.catalog-item .actions .bookmark:active {
	opacity: 0.3;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
	border-color: #33445a;
}

.catalog-items .item-name {
	display: block;
}

.inner-page .catalog-items {
	margin-bottom: 32px;
	margin-left: 23px;
}

.inner-page .catalog-items li:nth-child(4n) {
	margin-right: 20px;
}

.inner-page .catalog-items li:nth-child(3n) {
	margin-right: 0;
	margin-left: -1px;
}


/*Популярные производители*/

.popular-brands-list {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 66px;
}

.popular-brands-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 220px;
	flex-basis: 220px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 145px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.popular-brands-item:nth-child(4n) {
	margin-right: 0;
}

.popular-brand-item {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
	-webkit-box-shadow: 0 10px 30px -10px #000000;
	box-shadow: 0 10px 30px -10px #000000;
}

.popular-brands-item:active {
	opacity: 0.5;
}

.popular-brands-list li {
	margin-right: 17px;
}

.all-popular-btn {}


/*Сервис*/

.services {
	margin-bottom: 82px;
	padding-top: 63px;
	padding-bottom: 100px;
	overflow: hidden;
	background-color: #f4f8fa;
}

.services-title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	line-height: 1.85;
	font-weight: normal;
}

.text-pre-footer {
	white-space: pre;
	position: relative;
	left: -58px;
}

.services-info {
	margin: 0;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	color: #000000;
	line-height: 1.85;
	letter-spacing: normal;
	text-align: left;
	white-space: pre;
	position: relative;
	bottom: 25px;
	left: -59px;
}

.service-index {
	position: relative;
	bottom: 12px;
	left: 4px;
}

.services input[type="radio"] {
	display: none;
}

.services-list {
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	list-style: none;
}

.services-list:after {
	position: absolute;
	content: "";
	width: 10px;
	height: 279px;
	top: -33px;
	left: 230px;
	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.25;
}

.services-list label {
	display: block;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 19px;
	padding-left: 23px;
}

.services-list label:hover {
	cursor: pointer;
}

.services-list li {
	width: 240px;
	font-weight: bold;
	font-size: 21px;
	line-height: 31px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
	background-color: #32425c;
	border-top: 1px solid #485973;
	border-bottom: 1px solid #33445a;
}

.services-list li:hover {
	background-color: #293449;
}

#service-delivery:checked~.range .delivery-menu-item,
#service-garanty:checked~.range .garanty-menu-item,
#service-credit:checked~.range .credit-menu-item {
	color: #3d546e;
	background-color: #ffffff;
	border: none;
}

.service-description {
	position: relative;
	margin-left: 10px;
}

.service-description h3 {
	margin: 0;
	margin-top: 13px;
	font-size: 36px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #3d546e;
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 0px;
}

.service-description p {
	position: relative;
	z-index: 1;
	margin: 0;
	margin-top: 31px;
	margin-bottom: 30px;
	padding-right: 300px;
}

.delivery-head {
	position: relative;
	left: 70px;
}

.guarantee-head {
	position: relative;
	left: 70px;
}

.service-description .delivery::before {
	content: "";
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 0;
	width: 469px;
	height: 250px;
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
}

.service-description .garanty::before {
	content: "";
	position: absolute;
	top: -5px;
	right: 0;
	z-index: 0;
	width: 389px;
	height: 263px;
	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
}

.delivery-text,
.guarantee-text {
	white-space: pre;
}

.delivery-text {
	left: -30px;
	bottom: 20px;
}

.guarantee-text {
	position: relative;
	left: -30px;
	bottom: 20px;
}

.service-description .credit::before {
	content: "";
	position: absolute;
	top: -5px;
	right: 0;
	z-index: 0;
	width: 467px;
	height: 274px;
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
}

.service-description .delivery,
.service-description .garanty,
.service-description .credit {
	display: none;
}

#service-delivery:checked~.range .delivery,
#service-garanty:checked~.range .garanty,
#service-credit:checked~.range .credit {
	display: block;
}


/*контакты*/

.about-company {
	padding-right: 20px;
}

.man-shopping {
	white-space: pre;
	position: relative;
	left: -77px;
	bottom: 2px;
}

.about-delivery {
	white-space: pre;
	position: relative;
	left: -77px;
	bottom: 2px;
}

.about-company-title,
.contacts-title {
	margin: 0;
	margin-bottom: 31px;
	font-size: 30px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: normal;
}

.about-company p {
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
}

.about-company p:last-of-type {
	margin-bottom: 20px;
}

.delivery-company-list {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
}

.delivery-company-list li {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-left: 35px;
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	font-family: "Cuprum", "Tahoma", sans-serif;
}

.delivery-company-list li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	margin-top: -1px;
	background-color: #ff716f;
}

.about-company-button {
	padding: 10px 40px;
}

.button-map {
	margin: 0;
	padding: 0;
}

.contacts p {
	margin-bottom: 30px;
}

.contacts img {
	margin-bottom: 37px;
}

.feedback-button {
	width: 64%;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*ФУТЕР*/

.page-footer-top {
	background-color: #32425c;
	margin-top: 87px;
}

.nav-footer-range1 {
	margin-bottom: 32px;
}

.footer-logo {
	display: inline-block;
	padding: 18px 41px 20px 41px;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
	box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-logo:hover {
	cursor: pointer;
}

.site-navigation-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	list-style: none;
}

.site-navigation-footer li {
	margin-right: 60px;
}

.site-navigation-footer li:last-child {
	margin: 0;
}

.site-navigation-footer a {
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #f4f8fa;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
	border-bottom: 1px solid #f4f8fa;
}

.site-navigation-footer a:active {
	opacity: 0.5;
}

.nav-footer-range2 {
	padding-bottom: 53px;
}

.address-phone {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #f4f8fa;
}

.catalog-navigation-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 23px;
	list-style: none;
}

.catalog-navigation-footer li {
	margin-right: 60px;
}

.catalog-navigation-footer li:last-child {
	margin: 0;
}

.catalog-navigation-footer a {
	height: 17px;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffda96;
}

.catalog-navigation-footer a:hover,
.catalog-navigation-footer a:focus {
	border-bottom: 1px solid #f1f5f7;
}

.page-footer-bottom {
	padding-top: 30px;
	padding-bottom: 28px;
	background-color: #293449;
}

.page-footer-bottom p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
}

.page-footer-bottom .sub {
	display: block;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social li {
	margin-right: 4px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 43px;
	height: 43px;
	color: #000000;
	background-color: #212a3a;
	border-radius: 50%;
	color: transparent;
}

.social-button:hover,
.social-button:focus {
	background-color: #ee3643;
}

.social-button:hover path,
.social-button:focus path {
	fill: #ffffff;
}

.vk img {}

.fb {}

.insta {}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-copyright li {
	-ms-flex-preferred-size: 110px;
	flex-basis: 110px;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #ffffff;
}

.mail-link,
.dev-link {
	color: #ffda96;
	text-decoration: none;
}

.mail-link:hover,
.dev-link:hover,
.mail-link:focus,
.dev-link:focus {
	border-bottom: 1px solid #ffda96;
}

.mail-link:active,
.dev-link:active {
	color: #ee3643;
	border: none;
}


/*КАТАЛОГ-СТРАНИЦА*/

.inner-page .catalog {
	padding: 0;
	margin-bottom: 32px;
}

.logged {
	position: relative;
	width: 295px;
	padding-left: 6px;
}

.logged::before {
	content: "";
	position: absolute;
	top: 12px;
	left: -42px;
	width: 20px;
	height: 18px;
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-left: 54px;
	background-position: 0 0;
	-webkit-transition: 200ms all;
	transition: 200ms all;
}

.log-out {
	content: "";
	position: absolute;
	top: 102px;
	right: 215px;
	width: 21px;
	height: 17px;
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.logged:hover::before,
.logged:focus::before {
	background-image: url("../img/icon-user-log.svg");
	opacity: 1;
}

.log-out:hover,
.log-out:focus {
	background-image: url("../img/icon-logout-log.svg");
}

.logged:active::before,
.log-out:active,
.log-name:active {
	opacity: 0.3;
}

.user-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	margin-left: 106px;
	padding: 0;
	list-style: none;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", "Tahoma", sans-serif;
}

.user-links li {
	position: relative;
}

.user-links li:nth-child(n+2) {
	padding-left: 32px;
}

.user-links li:nth-child(n+2)::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 15px;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	background-color: #33445a;
	border-radius: 10px;
}

.user-links::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.user-links::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.user-links a:hover,
.user-links a:focus {
	color: #ee3643;
}

.user-links a {
	color: #33445a;
	text-decoration: underline;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0;
	margin-top: 18px;
	margin-bottom: 16px;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
	padding-top: 2px;
	left: -1px;
}

.breadcrumbs li:last-child {
	margin-right: 0;
	left: 2px;
	bottom: 2px;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 7px;
	right: -25px;
	width: 8px;
	height: 12px;
	background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs-current,
.breadcrumbs a {
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs-current::after {
	display: none;
}

.catalog-name {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 40px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	color: #3d546e;
	text-transform: uppercase;
	font-weight: normal;
}

.catalog-name-range {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 25px 28px;
	background-color: #f4f7f9;
}

.filters-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 37px;
	background-color: #f7f3ec;
	height: 20px;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 17px;
}

.filter {
	margin-top: 12px;
}

.filter fieldset {
	padding: 0;
	border: 0;
}

.filter legend {
	margin-bottom: 13px;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}


/*
.price-filter-inputs .price {
    margin-bottom: 8px;
    padding: 40px 20px;
    background-color: #f7f3ec;
}
.price-filter-inputs .min-price,
.price-filter-inputs .max-price {
    width: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
}
.price-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-filter-inputs {
    margin-bottom: 43px;
}
*/

.price-range {
	position: relative;
	font-size: 14px;
	font-family: 'PT Sans', "Tahoma", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.76;
	letter-spacing: normal;
	text-align: left;
	margin-bottom: 40px;
}

.price-range h3:after {
	content: '';
	width: 20px;
	height: 15px;
	content: "";
	left: 180px;
	position: absolute;
	top: 5px;
	opacity: 0.5;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 30px;
	background: #f7f3ec;
	border-radius: 5px;
	overflow: hidden;
}

.range-controls .scale {
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background: #00ca74;
	width: 82%;
}

.range-controls .toggle {
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background: #ababab;
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
	left: 158px;
}

.price-controls input {
	width: 84px;
	padding: 6px 6px;
	margin-left: 5px;
	border: none;
	background: #f7f3ec;
	font-size: 16px;
	font-family: 'Roboto', "Tahoma", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}

.price-controls .min-price {
	margin-right: 5px;
}

.price-controls {
	white-space: nowrap;
}

.brand-filter {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
}

.brand-filter legend {
	margin: 0;
	margin-bottom: 14px;
}

.brand-filter::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	bottom: 256px;
}

.brand-filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.brand-filter li {
	margin-bottom: 16px;
}

.brands-checkbox {
	position: relative;
	padding-left: 35px;
	line-height: 20px;
	text-transform: uppercase;
	font-style: 17px;
	letter-spacing: 1px;
	width: 81px;
	height: 171px;
	font-weight: normal;
	font-stretch: normal;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 15px;
	letter-spacing: normal;
}

.brands-checkbox input[type="checkbox"]+.checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.brands-checkbox input[type="checkbox"]:checked+.checkbox-indicator {
	content: "";
	position: absolute;
	left: 0;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.brands-checkbox input[type="checkbox"]:hover:not(:checked)+.checkbox-indicator,
.brands-checkbox input[type="checkbox"]:focus:not(:checked)+.checkbox-indicator {
	background-image: url("../img/checkbox-off-hov.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
}


/*
.brands-checkbox input[type="checkbox"]:hover:checked + .checkbox-indicator,
.brands-checkbox input[type="checkbox"]:focus:checked + .checkbox-indicator {
    background-image: url("../img/checkbox-on-hov.svg");
    background-repeat: no-repeat;
	opacity: 0.4;

}

*/

.charge-filter {
	margin-bottom: 60px;
}

.charge-filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.charge-filter li {
	margin-bottom: 16px;
}

.work-radio {
	position: relative;
	padding-left: 35px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 130px;
	height: 51px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
}

.work-radio input[type="radio"]:hover:not(:checked)+.radio-indicator {
	background-image: url("../img/radio-off-hov.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
}

.work-radio input[type="radio"]+.radio-indicator {
	position: absolute;
	top: -4px;
	left: 0;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.work-radio input[type="radio"]:checked+.radio-indicator {
	content: "";
	position: absolute;
	left: 0;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
}

.filter-button {
	padding: 9px 38px;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 1px;
	cursor: pointer;
	width: 140px;
	height: 42px;
}


/*Каталог*/

.catalog-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 37px;
	margin-bottom: 20px;
	background-color: #f7f3ec;
	margin-left: 21px;
}

.catalog-header p {
	width: 240px;
	margin: 0px;
	margin-right: -20px;
	text-transform: uppercase;
}

.sorting-title {
	padding-left: 20px;
}

.sorting-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 460px;
	line-height: 18px;
}

.sorting-items .sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400px;
}

.sorting-list a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border: none;
	border-top: 1px dotted #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
	color: #000000;
}

.sorting-list a:active,
.sorting-items .sort-activ {
	color: #ee3643;
}

.sorting-list a:hover::after {
	border-top-style: solid;
}

.sorting-list a:active::after,
.sorting-items a.sort-activ::after {
	border: none;
}

.sorting-items .sort-activ:hover::after {
	border-top: 1px solid #ee3643;
}

.sorting-items .sort-activ:active::after {
	border: none;
}

.sorting-items .sorting-buttons {
	width: 59px;
}

.sorting-list a {
	position: relative;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	margin-top: 0px;
	margin-right: -10px
}

.sorting-list .sort-by-type {
	margin-left: 89px;
}

.sort-by-type {
	left: -9px;
}

.sorting-list .sort-by-functionality {
	margin-left: 65px;
}

.sorting-buttons {
	margin: 0;
	padding: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.sorting-buttons .sort-icon {
	fill: rgba(0, 0, 0, 0.3);
}

.sorting-buttons .sort-activ {
	color: #ee3643;
	fill: #ee3643;
}


/*
.sorting-btn-2 {
    margin-left: 21px;
}
*/

.catalog-up-arrow {
	position: relative;
	margin-left: -4px;
	text-decoration: none;
}

.catalog-down-arrow {
	position: relative;
	margin-right: 15px;
	text-decoration: none;
}

.catalog-options-active {
	color: #ee3643;
	border-bottom: none;
}

.catalog-options-active:hover {
	color: #ee3643;
	border-bottom: none;
}

.catalog-up-arrow::before {
	position: absolute;
	top: 0px;
	left: 1;
	font-size: 15px;
	font-family: "symbols-technomart";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	content: "\25b2";
	color: #c6c2bd;
}

.catalog-up-arrow:hover::before {
	color: #000000;
}

.catalog-down-arrow::before {
	position: absolute;
	top: 0px;
	left: 28px;
	font-size: 15px;
	font-family: "symbols-technomart";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	content: "\25bc";
	color: #c6c2bd;
}

.catalog-down-arrow:hover::before {
	color: #000000;
}

.catalog-options-active::before,
.catalog-up-arrow:active::before,
.catalog-down-arrow:active::before {
	color: #ee3643;
}

.pagination-catalog {
	margin-left: 21px;
}

.pag-list .pag-item {
	margin-right: 10px;
}

.pag-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pag-list a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 38px;
	min-height: 38px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	cursor: pointer;
}

.pag-list a::after {
	content: "";
	min-height: inherit;
	font-size: 0;
	display: block;
}

.pag-list .pag-item-current {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
	cursor: default;
}

.pag-list a:hover,
.pag-list a:focus {
	border-color: #bdc6ca;
}

.pag-list .next {
	margin-left: 2px;
	padding: 0 30px;
}

.pag-list a:active {
	border-color: #ee3643;
}

.about-drills {
	padding-top: 61px;
	padding-bottom: 70px;
	background-color: #f4f8fa;
}

.about-drills p {
	margin: 0;
}


/*ПОП-АПЫ*/

.cart-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	padding-top: 66px;
	margin-top: -200px;
	margin-left: -300px;
	background-color: #ffffff;
	border-top: solid 7px #ee3643;
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
	box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
	z-index: 5000;
}

.cart-popup-close {
	position: absolute;
	right: 40px;
	top: 20px;
	border: none;
}

.cart-popup-close:before {
	position: absolute;
	top: -2px;
	left: 5px;
	width: 25px;
	height: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #ee3643;
	font-size: 40px;
	font-weight: 400;
	content: "";
}

.cart-popup-close:after {
	position: absolute;
	top: -2px;
	left: 5px;
	width: 25px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #ee3643;
	font-size: 40px;
	font-weight: 400;
	content: "";
}

.cart-popup-close:hover:before,
.cart-popup-close:hover:after {
	background-color: #ca2c37;
}

.cart-popup-close:active:before,
.cart-popup-close:active:after {
	background-color: #ba2732;
}

.cart-popup-title {
	position: relative;
	margin-left: 180px;
	margin-bottom: 68px;
}

.cart-popup-title {
	text-transform: none;
	color: #00000;
}

.cart-popup-title {
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
}

.cart-popup-title:before {
	position: absolute;
	top: -20px;
	left: -100px;
	width: 65px;
	height: 65px;
	background: url("../img/modal-check.svg") no-repeat;
	content: "";
}

.cart-popup-decision {
	padding-top: 37px;
	padding-bottom: 37px;
	padding-left: 80px;
	font-size: 0;
	background-color: #f1f1f1;
}

.cart-order-btn,
.cart-cancel-btn {
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	padding-bottom: 9px;
	margin-right: 20px;
	border-style: none;
	border-radius: 5px;
	outline: none;
}

.cart-order-btn {
	padding-left: 59px;
	padding-right: 62px;
	background-color: #ee3643;
}

.cart-order-btn {
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.cart-order-btn:hover {
	background-color: #ca2c37;
}

.cart-order-btn:active {
	background-color: #ba2732;
}

.cart-cancel-btn {
	padding-left: 44px;
	padding-right: 48px;
	background-color: #ffffff;
}

.cart-cancel-btn {
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	padding-bottom: 9px;
	margin-right: 20px;
	border-style: none;
	border-radius: 5px;
}

.cart-cancel-btn {
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}

.cart-cancel-btn:hover {
	color: #ee3643;
}

.cart-cancel-btn:active {
	color: rgba(0, 0, 0, .6);
}

.feedback {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	padding-top: 48px;
	margin-top: -250px;
	margin-left: -300px;
	border-top: solid 7px #ee3643;
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
	box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
	background-color: #ffffff;
	z-index: 5000;
	height: 375px;
}

.feedback input,
.feedback textarea {
	font-family: "PT Sans", sans-serif, Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
	font-family: "PT Sans", sans-serif, Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #999999;
}

.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
	font-family: "PT Sans", sans-serif, Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #999999;
}

.feedback input:-moz-placeholder,
.feedback textarea:-moz-placeholder {
	font-family: "PT Sans", sans-serif, Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #999999;
}

.feedback input:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder {
	font-family: "PT Sans", sans-serif, Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #999999;
}

.feedback-userdata,
.feedback-buttons {
	padding-left: 80px;
	padding-right: 80px;
}

.color-block {
	width: 620px;
	background-color: #f4f4f4;
	height: 125px;
	padding-right: 20px;
	margin-left: -10px;
}

.feedback-close {
	position: absolute;
	right: 40px;
	top: 20px;
	border: none;
}

.feedback-close:before {
	position: absolute;
	top: -2px;
	left: 10px;
	width: 25px;
	height: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #ee3643;
	font-size: 40px;
	font-weight: 400;
	content: "";
}

.feedback-close:after {
	position: absolute;
	top: -2px;
	left: 10px;
	width: 25px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #ee3643;
	font-size: 40px;
	font-weight: 400;
	content: "";
}

.feedback-close:hover:before,
.feedback-close:hover:after {
	background-color: #ca2c37;
}

.feedback-close:active:before,
.feedback-close:active:after {
	background-color: #ba2732;
}

.feedback-left-column {
	display: inline-block;
	width: 220px;
	margin-right: 16px;
}

.feedback-right-column {
	display: inline-block;
	width: 220px;
}

.feedback-block {
	margin-bottom: 22px;
}

.feedback-data,
.feedback-block label {
	margin-bottom: 9px;
}

.feedback-block input {
	width: 202px;
	padding-top: 9.5px;
	padding-bottom: 7.5px;
	padding-left: 14px;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	margin-top: 5px;
}

.feedback-block input:hover {
	border: 2px solid #b5b5b5;
}

.feedback-block input:focus {
	border: 2px solid #ee3643;
}

textarea {
	width: 440px;
	height: 98.5px;
	padding-top: 9.5px;
	padding-left: 14px;
	margin-bottom: 30px;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	overflow: auto;
	resize: none;
}

.feedback textarea {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	margin-top: 5px;
}

.feedback textarea:hover {
	border: 2px solid #b5b5b5;
}

.feedback textarea:focus {
	border: 2px solid #ee3643;
}

.feedback-data {
	margin-bottom: 9px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

textarea:focus,
.feedback-block input:focus {
	outline: none;
}

.feedback-block-buttons {
	background-color: #f1f1f1;
}

.feedback-block-buttons {
	padding-top: 37px;
	padding-bottom: 37px;
	font-size: 0;
	background-color: #f1f1f1;
}

.feedback-btn {
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 78px;
	padding-right: 81px;
	margin-right: 20px;
	border-style: none;
	border-radius: 5px;
	outline: none;
	background-color: #ee3643;
}

.feedback-btn {
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	width: 460px;
	margin-top: 35px;
	margin-left: 10px;
}

.feedback-btn:hover {
	background-color: #ca2c37;
}

.feedback-btn:active {
	background-color: #ba2732;
}

.map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 940px;
	height: 447px;
	margin-left: -470px;
	margin-top: -230px;
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
	box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
	z-index: 5000;
}

.map-script,
.map figure {
	width: 940px;
	height: 447px;
	margin: 0 auto;
	background-color: #E9E5DC;
}

.map-close {
	position: absolute;
	right: 40px;
	top: 20px;
	cursor: pointer;
}

.map-close:before {
	position: absolute;
	top: -2px;
	left: 10px;
	width: 25px;
	height: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #ee3643;
	font-size: 40px;
	font-weight: 400;
	content: "";
}

.map-close:after {
	position: absolute;
	top: -2px;
	left: 10px;
	width: 25px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #ee3643;
	font-size: 40px;
	font-weight: 400;
	content: "";
}

.map-close:hover:before,
.map-close:hover:after {
	background-color: #ca2c37;
}

.map-close:active:before,
.map-close:active:after {
	background-color: #ba2732;
}

.show-block {
	display: block;
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}

.show-block,
.service-details-active {
	display: block;
}
